<html>
	<head>
		<link rel='stylesheet' href='/css/bootstrap.3.min.css'>
		<link rel='stylesheet' href='/css/bootstrap-theme.3.min.css'>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link rel='stylesheet' href='/css/open-iconic-bootstrap.min.css'>
		<link rel='stylesheet' href='/css/formio.full.3.min.css'>
		<script src='/js/formio.full.3.min.js'></script>
		<script type='text/javascript'>
			window.onload = function() {
				Formio.createForm(document.getElementById('formio'), 
					
{
  "components": [
    {
      "label": "Email",
      "hideLabel": false,
      "labelPosition": "top",
      "labelWidth": 30,
      "labelMargin": 3,
      "placeholder": "email",
      "description": "",
      "tooltip": "",
      "errorLabel": "",
      "inputMask": "",
      "allowMultipleMasks": false,
      "prefix": "",
      "suffix": "",
      "customClass": "",
      "tabindex": "",
      "multiple": false,
      "clearOnHide": true,
      "protected": false,
      "persistent": true,
      "hidden": false,
      "mask": false,
      "disabled": false,
      "autofocus": false,
      "tableView": true,
      "inputFormat": "plain",
      "customDefaultValue": "",
      "refreshOn": "",
      "clearOnRefresh": false,
      "calculateValue": "",
      "encrypt": false,
      "dbIndex": false,
      "validate": {
        "required": false,
        "unique": false,
        "minLength": "",
        "maxLength": "",
        "pattern": "",
        "customMessage": "",
        "custom": "",
        "customPrivate": false,
        "json": ""
      },
      "validateOn": "change",
      "key": "email",
      "tags": [],
      "value": "Value",
      "conditional": {
        "eq": "",
        "json": "",
        "show": "",
        "when": ""
      },
      "customConditional": "",
      "logic": [],
      "type": "textfield",
      "defaultValue": "",
      "input": true,
      "unique": false,
      "inputType": "text",
      "id": "ehkbwmp",
      "widget": {
        "type": ""
      }
    },
    {
      "label": "Password",
      "hideLabel": false,
      "labelPosition": "top",
      "labelWidth": 30,
      "labelMargin": 3,
      "placeholder": "",
      "description": "",
      "tooltip": "",
      "errorLabel": "",
      "prefix": "",
      "suffix": "",
      "customClass": "",
      "tabindex": "",
      "multiple": false,
      "clearOnHide": true,
      "protected": false,
      "persistent": true,
      "hidden": false,
      "mask": false,
      "disabled": false,
      "autofocus": false,
      "tableView": true,
      "inputFormat": "plain",
      "customDefaultValue": "",
      "refreshOn": "",
      "clearOnRefresh": false,
      "calculateValue": "",
      "encrypt": false,
      "dbIndex": false,
      "validate": {
        "required": false,
        "unique": false,
        "minLength": "",
        "maxLength": "",
        "pattern": "",
        "customMessage": "",
        "custom": "",
        "customPrivate": false,
        "json": ""
      },
      "validateOn": "change",
      "key": "password",
      "tags": [],
      "value": "Value",
      "conditional": {
        "eq": "",
        "json": "",
        "show": "",
        "when": ""
      },
      "customConditional": "",
      "logic": [],
      "type": "password",
      "defaultValue": "",
      "input": true,
      "unique": false,
      "inputType": "text",
      "inputMask": "",
      "id": "ee2xzgm",
      "widget": {
        "type": ""
      }
    },
    {
      "label": "Submit",
      "hideLabel": false,
      "labelPosition": "top",
      "labelWidth": 30,
      "labelMargin": 3,
      "placeholder": "",
      "action": "submit",
      "theme": "primary",
      "size": "md",
      "leftIcon": "",
      "rightIcon": "",
      "shortcut": "",
      "description": "",
      "tooltip": "",
      "errorLabel": "",
      "customClass": "",
      "tabindex": "",
      "block": false,
      "disableOnInvalid": false,
      "multiple": false,
      "clearOnHide": true,
      "protected": false,
      "persistent": false,
      "hidden": false,
      "mask": false,
      "disabled": false,
      "autofocus": false,
      "tableView": true,
      "customDefaultValue": "",
      "calculateValue": "",
      "refreshOn": "",
      "clearOnRefresh": false,
      "encrypt": false,
      "dbIndex": false,
      "validate": {
        "required": false,
        "unique": false,
        "customMessage": "",
        "custom": "",
        "customPrivate": false,
        "json": ""
      },
      "validateOn": "change",
      "key": "submit",
      "tags": [],
      "value": "Value",
      "conditional": {
        "eq": "",
        "json": "",
        "show": "",
        "when": null
      },
      "customConditional": "",
      "logic": [],
      "type": "button",
      "defaultValue": "",
      "input": true,
      "prefix": "",
      "suffix": "",
      "unique": false,
      "widget": null,
      "id": "enworul",
      "dataGridLabel": true
    }
  ]
				}).then(function(form) {
					  form.submission = {
						      data: {
							            firstName: 'Joe',
							            lastName: 'Smith',
							            email: 'joe@example.com'
							          }
						    };
					// Register for the submit event to get the completed submission.
						  form.on('submit', function(submission) {
							      console.log('Submission was made!', JSON.stringify(submission));
							    });
				});
			};
		</script>
	</head>
	<body>
		<div class="container">
		<div id='formio'></div>
		<hr>
		</div>
	<script src='/js/jquery-3.3.1.min.js'></script>
	<script>
	</script>
	</body>
</html>
